@import "~bulma/sass/utilities/_all.sass";

$primary: #404a65;
$secondary: #889f8f;
$dark: rgb(44, 43, 43);

$navbar-item-color: $primary;
$navbar-item-hover-color: $secondary;
$navbar-item-hover-background-color: $dark;

$family-serif: "Georgia", serif;

$danger: $orange;
$family-primary: $family-serif; 

@import "~bulma/bulma";